<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Input Page</title>
	<link rel="stylesheet" href="static/inputText.css"/>
	
</head>

<body>
	<form action="" method="post">
	<div class="wrapper">
		<div class="container">
			<h1 style="text-align: center;"> 사투리 입력 !</h1>
			<input class="inputText" type="text" id="input" name="input" placeholder="사투리를 입력해주세요!">
			<input class="translateStart" type="submit" value="번역" onclick="" />
			<h3 style="text-align: center; color:chocolate; "> 사투리를 입력하고 번역 버튼을 클릭해주세요</h3>
		</div>
	</div>
	</form>
</body>
</html>