<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Translate Page</title>
	<link rel="stylesheet" href="../static/css/translate.css">
	<link rel="stylesheet" href="../static/css/inputText.css">
</head>
<body>
	<script src="../static/js/tts.js"></script>
	<div class="wrapper">
		<div class="container">
			<div style="text-align: center; background-color: orange; border: 3px solid black; border-radius: 10px; margin: 3px;"><h2>표준어</h2></div>		
			<div style="text-align: center; border: 3px solid black; border-radius: 10px; margin: 3px;"><h3>{{text_kor}}</h3></div>
			<div style="text-align: center; background-color: brown; border: 3px solid black; border-radius: 10px; margin: 3px;"><h2>영어</h2></div>
			<div style="text-align: center; border: 3px solid black; border-radius: 10px; margin: 3px;"><h3>{{text_eng}}</h3></div>
		</div>
		<input class="translateStart" type="submit" value="한글음성" onclick="startVoiceKor('{{text_kor}}')" />	
		<input class="translateStart" type="submit" value="영어음성" onclick="startVoiceEng('{{text_eng}}')" />	
	</div>
		
</body>
</html>